.site-info {
    text-align: center;
}
nav.bg-primary {
    text-align: center;
    background: rgba(225, 98, 63, 0.7) !important;
}
a.navbar-brand {
    display: block;
    margin: auto;
}

div#full-width-page-wrapper {
    padding-top: 0px;
}
